<div class="auth-box" ng-include="'views/auth.html'"></div>

<div>

    <button ng-click="refresh()"> Refresh List</button>
    <br>
    Create New Product
    <form action="">
        Nama: <input type="text" ng-model="newProduct.Nama">
        Kubikasi: <input type="text" ng-model="newProduct.Kubikasi">
        Harga modal: <input type="text" ng-model="newProduct.Harga_modal">
        Harga jual: <input type="text" ng-model="newProduct.Harga_jual">
        Ongkos Expedisi: <input type="text" ng-model="newProduct.Ongkos_expedisi">
        Stock: <input type="text" ng-model="newProduct.Stock">
        Ongkos Kirim JNE: <input type="text" ng-model="newProduct.Ongkos_kirim">

        <button ng-click="createNewProduct()">Create</button>
    </form>


    <div class="table-product">
        <div ng-repeat="product in products">
            {{product.Nama}}
        </div>

    </div>

</div>